<div class="container">
<div class="sixteen columns"><h2>Thank you!</h2>
<div align="center">
<p>
	<p id="notice"><h5><%= notice %></h5></p>
	<hr>
<p>
  <b>Time:</b>
  <%= @purse.time %>
</p>

<p>
  <b>Day:</b>
  <%= @purse.day %>
</p>
<p>You will recieve an email to remind you of your appointment.</p>
 <a class="button" href="/">Home</a>
</div>
