 <div class="hero-unit" align="center">
  <h2>Request Refill</h2>
  <p>You can easily request a refill for a previous perscription, if you would like to change a perscription or cancel one, please schedule an appointment <a href="/schedule">here.</a></p>
</div>
<div class="container" align="center">





 <a class="btn btn-danger" href="/">Cancel</a>
 <a class="btn btn-success" href="#">Submit</a>
</div>