<div class="container">
<div class="sixteen columns"><h2>Thank you!</h2>
<div align="center">
<p>
	<p id="notice"><h5><%= notice %></h5></p>
	<hr>
  Medicine:
  <%= @medzz.medicine %>
</p>
<p>You will recieve an email as soon as your request has been proccessed.</p>
 <a class="button" href="/">Home</a>
</div>


