<div class="hero-unit" align="center"><h2>Thank you!</h2></div>
<div align="center">
<p>
	<p id="notice"><h5><%= notice %></h5></p>
  Medicine:
  <%= @medzz.medicine %>
</p>
<p>You will recieve an email as soon as your request has been proccessed.</p>
 <a class="btn" href="/">Home</a>
</div>


