<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<body>
	<div align="center">
	<div class="hero-unit">
		<h2>Schedule your next appointment</h2>
		<p>This is where you can easily schedule your next appointment.</p>
	</div>

<p>Date: <input type="text" id="datepicker" /></p>

 <a class="btn btn-danger" href="/">Cancel</a>
 <a class="btn btn-success" href="#">Submit</a>
 
 
</body>