 <div class="hero-unit" align="center">
  <h3>Check in</h3>
  <p>Here you can easily schedule new appointments, request refills on persciptions and check in.</p>
</div>
<dl class="dl-horizontal">
  <dd>Would you say your eyesight (with glasses or contacts, if you wear them) could be improved?</dd>
 
  <dd>Do you have difficulty reading ordinary print?</dd>
 
  <dd>Do you have, or have you had, pain or discomfort in and around your eyes?</dd>
   
  <dd>Do you have difficulty reading street signs or the names of stores?</dd>
   
  <dd>Do you have difficulty going down stairs and steps?</dd>
   
  <dd>Do you have difficulty in noticing objects off to the side while walking alone?</dd>

  <dd>Do you accomplish less than you would like because of your vision?</dd>

  <dd>Are you limited in how long you can work, or do other activities, because of your vision?</dd>

  <dd>Have you ever considered LASIK?</dd>

</dl>

  
<div align="center">
 <a class="btn btn-danger" href="/">Cancel</a>
 <a class="btn btn-success" href="mailto:jackhanford@gmail.com">Submit</a>
</div>
