<div class="container">
    <div class="sixteen columns">
      <h1 class="remove-bottom" style="margin-top: 40px">Chris Hanfords Optometry</h1>
      <br />
  <h6>Here you can easily request to fill a subscription, check in or schedule an appointment.</h6>
  <br />
  <hr />

</div>
  <div class="one-third column">
          <h3>Request</h3>
  <p>Requesting Refills has never been easier, you simply click the button below and enter the perscription information you would like to refill. If you would like to try a new medication you will need to schedule an appointment first.</p>
    <a class="button" href="/refill">
      Request Refill
    </a>
  </div>
  <div class="one-third column">
    <h3>Schedule</h3>
  <p>Hate having to schedule appointments over the phone? Well look no further. We have built an barebones easy method for scheduling appointments with our doctor. Simply click the button below and follow the intstructions on the follow page.</p>
    <a class="button" href="/schedule">
      Schedule Appointment
    </a>
  </div>
    <div class="one-third column">
    <h3>Check in</h3>
  <p>Checking into our office has never been easier. Here you can simply check in from any device, just click the button below to get started.</p><br /><br />
  <%= link_to 'Check in', new_checkin_path, class: "button" %>
  
  </div>
  <br />
</div>
<% if patient_signed_in? %>
  <small>You are currently signed in</small>
  <br />
  <%= link_to :logout,  destroy_patient_session_path, class: 'button', method: :delete %>
<% else %>
  <small>It's important to create an account because that is how you are able to communicate with us. You can't easily create an account by clicking "New Patient" above.</small>
<% end %>

