 <div class="hero-unit" align="center">
  <h2>Chris Hanford's Optometry</h2>
  <p>Here you can easily request to fill a subscription, check in or schedule an appointment.</p>

</div>
<div align="center">
  <div class="container">
 <div class="row-fluid">
  <div class="span4">
          <h3>Request</h3>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <a class="btn" href="/request">
      Request Refill
    </a>
  </div>
  <div class="span4">
    <h3>Schedule</h3>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <a class="btn" href="/schedule">
      Schedule Appointment
    </a>
  </div>
    <div class="span4">
    <h3>Check in</h3>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <a class="btn" href="/check">
     Check in
    </a>
  </div>
<% if patient_signed_in? %>
  <small>You are currently signed in</small>
  <br />
  <%= link_to :logout,  destroy_patient_session_path, class: 'btn btn-danger', method: :delete %>
<% else %>
  <small>It's important to create an account because that is how you are able to communicate with us. You can't easily create an account by clicking "New Patient" above.</small>
<% end %>

