<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">Check in</h1>
	<p>Here you can check in to your appointment..</p>
<hr>

<%= render 'form' %>

