<!DOCTYPE html>
<html>
<head>
  <title>Chris Hanford's OD</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div align="center">

<%= yield %>

</div>
</body>
</html>
